@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h-bg {
    height: 100vh;
    background-color: #03174c;
    text-align: center;
    color: #ffffff;
    font-family: Bree Serif;
}

.h-top {
    padding: 10vh 20px 10vh 20px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    height: 35vh;
    background-size: cover;
}

.h-card {
    color: #ffe7bf;
    margin: 10vh 20px 0px 20px;
    padding: 40px 20px 0px 0px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 25vh;
    background-size: cover;
}

.h-bottom {
    padding: 0px 30px 0px 30px;
}

.button {
    height: 40px;
    width: 120px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #8e97fd;
}

.d-bg {
    background-color: #03174c;
    color: #ffffff;
    font-family: Bree Serif;
}

.d-img {
    height: 30vh;
}

.d-top {
    padding: 20px;
}

.d-bottom {
    margin: 5px 20px 20px 20px;
}

.sml-txt {
    font-size: 18px;
}

.d-img-in {
    margin-right: 10px;
    height: 15vh;
    width: 42vw;
}

.clr-txt {
    color: #98a1bd;
}
